<!DOCTYPE html>
<html>
  <head>
    <title>
      PowPow
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
  </head>
  <body style="background-color:#81a6d0;">

    <div class="title">
      <h1>PowPow</h1>
    </div>

  <div class="homepage-container">
    <div class="homepage-img">
      <iframe src="https://giphy.com/embed/KLBtzN8F8PAhuNWHoc" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="signup-form">
      <h2>Sign up</h2>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          
          <div class="field">
            <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
          </div>

          <div class="field">
            <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
          </div>

          <div class="field">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
          </div>

          <div class="field">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
          </div>

          <div class="field">
          <%# <span>Activities:</span>
            <%= f.fields_for :activities do |ff| %>
              <%# <%= ff.label :name %> 
              <%# <%= ff.text_field :name %> 
            <%# <% end %> 
          </div>
        
          <%# <%= f.collection_check_boxes :activity_ids, Activity.all, :id, :name %> 
          
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
          <h3>Already have an account? <%= link_to "Log in", login_path %></h3>
        <% end %>
      </div>
    </div>
  </body>
</html>






