<!DOCTYPE html>
<html>
  <head>
    <title>PowPow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class = "notice" ><%= notice %> </p>
    <p class = "alert" ><%= alert %></p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PowPow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", homepage_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lessons</a>
          </li>
          <li class="nav-item">
            <%= link_to "Pricing", prices_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <select class="nav-link dropdown-toggle" aria-labelledby="navbarDropdownMenuLink" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <option>Choose Resort</option>
              <option class="dropdown-item" value="">Whistler Blackcomb</option>
              <option class="dropdown-item" value="1">Courchevel</option>
              <option  value="2">Zermatt</option>
            </select>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", user_path(session[:user_id]), class: "nav-link" %>
          </li>
          <li class="nav-item tr">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>

    